.myButton {
	background-color:#454cc7;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	border:1px solid #1256e0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:24px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2c45e8;
}
.myButton:hover {
	background-color:#2e4fd1;
}
.myButton:active {
	position:relative;
	top:1px;
}
